body {
    background-color: #0a0a0a; /* Glowy black for the background */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: #006400; /* Dark green for the headings */
    text-align: center;
    width: 100%;
    display: block;
}

h1:hover {
    color: #00008b; /* Dark blue for the hover state of headings */
    text-align: center;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #006400; /* Dark green for the links */
}

.assign {
    background-color: #f0f0f0; /* Grayish-white for the assignment boxes */
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    display: block; /* instead of flex */
}

.assign img {
    width: 250px; /* Increased width for the images */
    height: auto; /* Auto height to maintain aspect ratio */
    margin: 10px;
    border: 2px solid #d3d3d3; /* Lighter gray for a subtle border */
}

.assign img:hover {
    width: 250px; /* Maintain the same width on hover */
    height: auto; /* Auto height to maintain aspect ratio */
    margin: 10px;
    border: 2px dotted #00008b; /* Dark blue for the hover effect on images */
}
